<a href="https://colab.research.google.com/github/Rafael-Souz/Inspecionando_DataFrame_pandas/blob/main/continuacao_panda_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Continuação.....

In [ ]:
 # caregando a biblioteca
import pandas as pd

In [ ]:
# carregar dados
# uma variável df (DataFrame) é uma abreviação
df = pd.read_csv('http://emsapi.esy.es/datasets/covid_19_data.csv')
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [ ]:
# definindo uma coluna como índice do DataFrame
df = pd.read_csv(
    'http://emsapi.esy.es/datasets/covid_19_data.csv',
    index_col=0 # indica que a coluna zero será o índice
    )

In [ ]:
# Realizar a inspeção no DataFrame

# .head()
# .tail()
# .info()
# .shape
# .sample()

In [ ]:
# primeiras cinco linhas
df.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [ ]:
# últimas cinco linhas
df.tail()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
98248,08/29/2020,Zaporizhia Oblast,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0
98249,08/29/2020,Zeeland,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0
98250,08/29/2020,Zhejiang,Mainland China,2020-08-30 04:28:22,1277.0,1.0,1268.0
98251,08/29/2020,Zhytomyr Oblast,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0
98252,08/29/2020,Zuid-Holland,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0

In [ ]:
# mostra informações acerca dos tipos de dados contidos no DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98252 entries, 1 to 98252
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  98252 non-null  object
 1   Province/State   67099 non-null  object
 2   Country/Region   98252 non-null  object
 3   Last Update      98252 non-null  object
 4   Confirmed        98252 non-null  float64
 5   Deaths           98252 non-null  float64
 6   Recovered        98252 non-null  float64
dtypes: float64(3), object(4)
memory usage: 6.0+ MB

In [ ]:
# mostra o número de linhas e coluns
df.shape

(98252, 7)

In [ ]:
# mostra dados aleatórios da amostra
df.sample(5)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
27159,05/20/2020,Wisconsin,US,2020-05-21 02:32:48,13413.0,481.0,0.0
55370,07/02/2020,Wyoming,US,2020-07-03 04:33:54,1550.0,20.0,0.0
91634,08/21/2020,NaN,Ghana,2020-08-22 04:27:49,43325.0,261.0,41408.0
42435,06/15/2020,Adygea Republic,Russia,2020-06-16 04:33:09,1340.0,12.0,796.0
20973,05/03/2020,NaN,India,2020-05-04 02:32:28,42505.0,1391.0,11775.0

In [ ]:
# Como a coluna Province/State contém valores nulos, vamos excluí-la
df.drop(['Province/State'], axis=1, inplace=True)
df.head(0) # quando o zero é informado, mostra apenas o nome das colunas

Empty DataFrame
Columns: [ObservationDate, Country/Region, Last Update, Confirmed, Deaths, Recovered]
Index: []

In [ ]:
# Vamos salvar uma "fotografia" dos dados
df.to_excel('/content/corona_limpo.xlsx', index=None)

In [ ]:
df.head()

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,
1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [ ]:
# usando o .drop() para apagar "uma linha"
df.drop(index=1, axis=0, inplace=True)
df.head()

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,
2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
6,01/22/2020,Mainland China,1/22/2020 17:00,26.0,0.0,0.0

# Criação de subsets
São sub-conjuntos de um DataFrame, os quais `não alteram` o valor do DataFrame

In [ ]:
colunas = ['Country/Region', 'Confirmed', 'Deaths']
df[colunas].sample(5)

      Country/Region  Confirmed  Deaths
SNo
28064             US      803.0    12.0
94368         Russia     4434.0    61.0
22693          Yemen       34.0     7.0
88472       Colombia       92.0     0.0
34980             UK       11.0     1.0

In [ ]:
# Selecione três conjuntos de colunas e salve os resultados em arquivos ".CSV"

In [ ]:
# Criando novas colunas a partir do resultado das existentes
df['Confirmed + Deaths'] = df['Confirmed'] + df['Deaths']
df.sample(5)

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths
SNo,,,,,,,
7077,03/20/2020,Slovenia,2020-03-20T15:43:24,341.0,1.0,0.0,342.0
81339,08/07/2020,Turkey,2020-08-08 04:34:53,238450.0,5813.0,221574.0,244263.0
87868,08/16/2020,Andorra,2020-08-17 04:27:20,989.0,53.0,863.0,1042.0
86320,08/13/2020,Italy,2020-08-14 04:51:19,1524.0,80.0,1382.0,1604.0
84502,08/11/2020,Mainland China,2020-08-12 04:27:29,350.0,6.0,343.0,356.0

In [ ]:
# Criar uma nova coluna que mostre a relação entre mortes e casos confirmados.
df['Death by Cases'] = df['Deaths'] / df['Confirmed']
df.sample(5)

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
31897,05/30/2020,Brazil,2020-05-31 02:32:45,7402.0,305.0,0.0,7707.0,0.041205
74854,07/29/2020,Mainland China,2020-07-30 04:35:05,68135.0,4512.0,63623.0,72647.0,0.066221
89443,08/18/2020,Madagascar,2020-08-19 04:27:00,14009.0,173.0,12767.0,14182.0,0.012349
53245,06/30/2020,Egypt,2020-07-01 04:33:52,68311.0,2953.0,18460.0,71264.0,0.043229
63543,07/14/2020,Slovakia,2020-07-15 04:34:39,1908.0,28.0,1493.0,1936.0,0.014675

# Conversão de Valores
* `.to_numeric()`
* `.to_datetime()`
* `.astype()`
    - `'bool'`
    - `'int64'`
    - `'float64'`
    - `'str'`
    - `'category'`
* `.replace()`

In [ ]:
# verificando novamente o DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98251 entries, 2 to 98252
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ObservationDate     98251 non-null  object
 1   Country/Region      98251 non-null  object
 2   Last Update         98251 non-null  object
 3   Confirmed           98251 non-null  float64
 4   Deaths              98251 non-null  float64
 5   Recovered           98251 non-null  float64
 6   Confirmed + Deaths  98251 non-null  float64
 7   Death by Cases      97405 non-null  float64
dtypes: float64(5), object(3)
memory usage: 6.7+ MB

In [ ]:
df.head()

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
2,01/22/2020,Mainland China,1/22/2020 17:00,14.0,0.0,0.0,14.0,0.0
3,01/22/2020,Mainland China,1/22/2020 17:00,6.0,0.0,0.0,6.0,0.0
4,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,1.0,0.0
5,01/22/2020,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,0.0,NaN
6,01/22/2020,Mainland China,1/22/2020 17:00,26.0,0.0,0.0,26.0,0.0

In [ ]:
# alterando os valores do DataFrame (values)
df['Country/Region'].replace('Mainland China', 'China', inplace=True)
df.sample(10)

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
21667,05/05/2020,Norway,2020-05-06 02:32:31,7955.0,215.0,32.0,8170.0,0.027027
71363,07/24/2020,Mexico,2020-07-25 04:47:39,3225.0,448.0,2356.0,3673.0,0.138915
84063,08/10/2020,Chile,2020-08-11 04:35:08,9419.0,182.0,8624.0,9601.0,0.019323
16981,04/20/2020,US,2020-04-20 23:44:50,2470.0,143.0,0.0,2613.0,0.057895
65568,07/16/2020,Russia,2020-07-17 04:34:50,9743.0,71.0,7014.0,9814.0,0.007287
10486,03/31/2020,Poland,2020-03-31 23:49:27,2311.0,33.0,7.0,2344.0,0.014280
14645,04/13/2020,Sudan,2020-04-13 23:15:42,29.0,4.0,4.0,33.0,0.137931
58836,07/07/2020,US,2020-07-08 05:33:48,10605.0,220.0,0.0,10825.0,0.020745
29626,05/26/2020,Australia,2020-05-27 02:32:31,107.0,3.0,104.0,110.0,0.028037
348,01/29/2020,China,1/29/20 19:30,9.0,0.0,1.0,9.0,0.000000

In [ ]:
df.head()

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
2,01/22/2020,China,1/22/2020 17:00,14.0,0.0,0.0,14.0,0.0
3,01/22/2020,China,1/22/2020 17:00,6.0,0.0,0.0,6.0,0.0
4,01/22/2020,China,1/22/2020 17:00,1.0,0.0,0.0,1.0,0.0
5,01/22/2020,China,1/22/2020 17:00,0.0,0.0,0.0,0.0,NaN
6,01/22/2020,China,1/22/2020 17:00,26.0,0.0,0.0,26.0,0.0

In [ ]:
df['Country/Region'].replace('US', 'United States', inplace=True)
df.tail(10)

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
98243,08/29/2020,Canada,2020-08-30 04:28:22,15.0,0.0,15.0,15.0,0.000000
98244,08/29/2020,China,2020-08-30 04:28:22,199.0,2.0,191.0,201.0,0.010050
98245,08/29/2020,Russia,2020-08-30 04:28:22,4541.0,56.0,4207.0,4597.0,0.012332
98246,08/29/2020,Mexico,2020-08-30 04:28:22,5195.0,470.0,3970.0,5665.0,0.090472
98247,08/29/2020,Ukraine,2020-08-30 04:28:22,7385.0,259.0,3220.0,7644.0,0.035071
98248,08/29/2020,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0,1545.0,0.016447
98249,08/29/2020,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0,1120.0,0.068702
98250,08/29/2020,China,2020-08-30 04:28:22,1277.0,1.0,1268.0,1278.0,0.000783
98251,08/29/2020,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0,3216.0,0.019334
98252,08/29/2020,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0,20118.0,0.071588

In [ ]:
df.head()

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
2,01/22/2020,China,1/22/2020 17:00,14.0,0.0,0.0,14.0,0.0
3,01/22/2020,China,1/22/2020 17:00,6.0,0.0,0.0,6.0,0.0
4,01/22/2020,China,1/22/2020 17:00,1.0,0.0,0.0,1.0,0.0
5,01/22/2020,China,1/22/2020 17:00,0.0,0.0,0.0,0.0,NaN
6,01/22/2020,China,1/22/2020 17:00,26.0,0.0,0.0,26.0,0.0

In [ ]:
# Filtrando pelo país
df[df['Country/Region'] == 'Brazil']

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
83,01/23/2020,Brazil,1/23/20 17:00,0.0,0.0,0.0,0.0,NaN
2456,02/26/2020,Brazil,2020-02-26T23:53:02,1.0,0.0,0.0,1.0,0.000000
2560,02/27/2020,Brazil,2020-02-26T23:53:02,1.0,0.0,0.0,1.0,0.000000
2669,02/28/2020,Brazil,2020-02-26T23:53:02,1.0,0.0,0.0,1.0,0.000000
2777,02/29/2020,Brazil,2020-02-29T21:03:05,2.0,0.0,0.0,2.0,0.000000
...,...,...,...,...,...,...,...,...
98104,08/29/2020,Brazil,2020-08-30 04:28:22,43299.0,587.0,11057.0,43886.0,0.013557
98121,08/29/2020,Brazil,2020-08-30 04:28:22,146404.0,2218.0,131550.0,148622.0,0.015150
98123,08/29/2020,Brazil,2020-08-30 04:28:22,801422.0,29944.0,609618.0,831366.0,0.037364
98129,08/29/2020,Brazil,2020-08-30 04:28:22,72280.0,1839.0,62950.0,74119.0,0.025443
98173,08/29/2020,Brazil,2020-08-30 04:28:22,49651.0,658.0,30701.0,50309.0,0.013253

In [ ]:
# Antes de preencher os NaN
df.head()

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
2,01/22/2020,China,1/22/2020 17:00,14.0,0.0,0.0,14.0,0.0
3,01/22/2020,China,1/22/2020 17:00,6.0,0.0,0.0,6.0,0.0
4,01/22/2020,China,1/22/2020 17:00,1.0,0.0,0.0,1.0,0.0
5,01/22/2020,China,1/22/2020 17:00,0.0,0.0,0.0,0.0,NaN
6,01/22/2020,China,1/22/2020 17:00,26.0,0.0,0.0,26.0,0.0

In [ ]:
# Com base nos dados, percebemos que há um NaN, ou seja, um valor ausente.
# Precisamos urgentemente corrigir isso!!!!!!
# Para isso, vamos utilizar o .fillna()
df.fillna(0, axis=1, inplace=True)
df.head()

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
2,01/22/2020,China,1/22/2020 17:00,14.0,0.0,0.0,14.0,0.0
3,01/22/2020,China,1/22/2020 17:00,6.0,0.0,0.0,6.0,0.0
4,01/22/2020,China,1/22/2020 17:00,1.0,0.0,0.0,1.0,0.0
5,01/22/2020,China,1/22/2020 17:00,0.0,0.0,0.0,0.0,0.0
6,01/22/2020,China,1/22/2020 17:00,26.0,0.0,0.0,26.0,0.0

In [ ]:
# Alterar o nome de colunas
df.rename(    
    columns={
        'Country/Region' : 'Country'
    },
    inplace=True
    )
df.head()

,ObservationDate,Country,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
2,01/22/2020,China,1/22/2020 17:00,14.0,0.0,0.0,14.0,0.0
3,01/22/2020,China,1/22/2020 17:00,6.0,0.0,0.0,6.0,0.0
4,01/22/2020,China,1/22/2020 17:00,1.0,0.0,0.0,1.0,0.0
5,01/22/2020,China,1/22/2020 17:00,0.0,0.0,0.0,0.0,0.0
6,01/22/2020,China,1/22/2020 17:00,26.0,0.0,0.0,26.0,0.0

In [ ]:
# Vamos corrigir o tipo de dados dos campos 'data'
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98251 entries, 2 to 98252
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ObservationDate     98251 non-null  object
 1   Country             98251 non-null  object
 2   Last Update         98251 non-null  object
 3   Confirmed           98251 non-null  float64
 4   Deaths              98251 non-null  float64
 5   Recovered           98251 non-null  float64
 6   Confirmed + Deaths  98251 non-null  float64
 7   Death by Cases      98251 non-null  float64
dtypes: float64(5), object(3)
memory usage: 6.7+ MB

In [ ]:
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98251 entries, 2 to 98252
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ObservationDate     98251 non-null  datetime64[ns]
 1   Country             98251 non-null  object
 2   Last Update         98251 non-null  object
 3   Confirmed           98251 non-null  float64
 4   Deaths              98251 non-null  float64
 5   Recovered           98251 non-null  float64
 6   Confirmed + Deaths  98251 non-null  float64
 7   Death by Cases      98251 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 6.7+ MB

Remoção de Dados Duplicados
* `.unique()`: retorna valores únicos
* `.duplicated()`: retorna `bool` para linhas duplicadas
* `drop_duplicated()`: retorna *DataFrame* com linhas duplicadas removidas

In [ ]:
# Quantos países existem nos dados?
print('Quantidade de países:', len(df['Country'].unique()))

Quantidade de países: 223

In [ ]:
# O que acontece se não usarmos o len()?
df['Country'].unique()

In [ ]:
# Quantos países estão duplicados?
98251-223

98028

In [ ]:
# Outra forma
sum(df.duplicated(subset=['Country']))

98028

In [ ]:
# Removendo os duplicados
# keep='last' mantém uma cópia de cada registro
df.drop_duplicates(subset=['Country'], keep='last', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223 entries, 2664 to 98252
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ObservationDate     223 non-null    datetime64[ns]
 1   Country             223 non-null    object
 2   Last Update         223 non-null    object
 3   Confirmed           223 non-null    float64
 4   Deaths              223 non-null    float64
 5   Recovered           223 non-null    float64
 6   Confirmed + Deaths  223 non-null    float64
 7   Death by Cases      223 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 15.7+ KB

# Ordenação e Ranqueamento
* `.sort_index()`
* `.sort_values()`: ordena de acordo com uma coluna
* `.rank()`: computa ranks numéricos ($1$ à $n$)

In [ ]:
# Ordenação crescente
# ascending=True -> crescente
df.sort_values(by=['Recovered'], ascending=True).head()

,ObservationDate,Country,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
2664,2020-02-28,Azerbaijan,2020-02-28T15:03:26,1.0,0.0,0.0,1.0,0.0
7589,2020-03-21,East Timor,2020-03-21T14:43:04,1.0,0.0,0.0,1.0,0.0
7593,2020-03-21,"Gambia, The",2020-03-18T14:13:56,1.0,0.0,0.0,1.0,0.0
7610,2020-03-21,Greenland,2020-03-19T09:33:04,0.0,0.0,0.0,0.0,0.0
7611,2020-03-21,Guam,2020-03-18T19:14:33,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Ordenação decrescente
# ascending=False -> decrescente
df.sort_values(by=['Recovered'], ascending=False).head()

,ObservationDate,Country,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
97651,2020-08-29,South Africa,2020-08-30 04:28:22,622551.0,13981.0,536694.0,636532.0,0.022458
98198,2020-08-29,Peru,2020-08-30 04:28:22,0.0,0.0,438017.0,0.0,0.000000
97583,2020-08-29,Iran,2020-08-30 04:28:22,371816.0,21359.0,319847.0,393175.0,0.057445
97642,2020-08-29,Saudi Arabia,2020-08-30 04:28:22,313911.0,3840.0,288441.0,317751.0,0.012233
97517,2020-08-29,Argentina,2020-08-30 04:28:22,401239.0,8353.0,287220.0,409592.0,0.020818

In [ ]:
df.sort_values(by=['Country'], ascending=False).head()

,ObservationDate,Country,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases
SNo,,,,,,,,
6438,2020-03-17,occupied Palestinian territory,2020-03-11T20:53:02,0.0,0.0,0.0,0.0,0.000000
97678,2020-08-29,Zimbabwe,2020-08-30 04:28:22,6406.0,196.0,5056.0,6602.0,0.030596
97677,2020-08-29,Zambia,2020-08-30 04:28:22,11902.0,284.0,11092.0,12186.0,0.023862
97676,2020-08-29,Yemen,2020-08-30 04:28:22,1946.0,563.0,1113.0,2509.0,0.289311
97675,2020-08-29,Western Sahara,2020-08-30 04:28:22,10.0,1.0,8.0,11.0,0.100000