<a href="https://colab.research.google.com/github/Rafael-Souz/Inspecionando_DataFrame_pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Para trabalhar com o Pandas, precisamos importar a biblioteca
import pandas as pd # "pd" é um apelido para a biblioteca

In [ ]:
# Fazendo a importação dos dados (local)
corona = pd.read_csv('/content/covid_19_data.csv')

In [ ]:
# Importando os dados remotamente
corona = pd.read_csv('http://emsapi.esy.es/datasets/covid_19_data.csv')

# Inspecionando o DataFrame (dados)

A seguir vamos executar uma série de comandos para iniciar nossa análise de dados.

Esta etapa é de fundamentl importância, visto que precisamos saber "com o que" estamos trabalhando.

In [ ]:
# 1. Descobrir insformações sobre o DataFrame
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98252 entries, 0 to 98251
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              98252 non-null  int64
 1   ObservationDate  98252 non-null  object
 2   Province/State   67099 non-null  object
 3   Country/Region   98252 non-null  object
 4   Last Update      98252 non-null  object
 5   Confirmed        98252 non-null  float64
 6   Deaths           98252 non-null  float64
 7   Recovered        98252 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.0+ MB

In [ ]:
# Verificando linhas e colunas inidividualmente
corona.shape

(98252, 8)

In [ ]:
print('Linhas..:', corona.shape[0])
print('Colunas.:', corona.shape[1])

Linhas..: 98252
Colunas.: 8

In [ ]:
# Listar o nome de cada coluna individualmente
list(corona.columns)

['SNo',
 'ObservationDate',
 'Province/State',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered']

In [ ]:
# Tem outro jeito???
for c in corona.columns:
  print(c)

SNo
ObservationDate
Province/State
Country/Region
Last Update
Confirmed
Deaths
Recovered

In [ ]:
# Mais uma forma
for k, v in corona.items():
  print(k)

SNo
ObservationDate
Province/State
Country/Region
Last Update
Confirmed
Deaths
Recovered

In [ ]:
# Mais uma forma
corona.keys()

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

# Visão geral sobre os dados

In [ ]:
# Visão geral dos dados com o uso do .head(n)
# quando não informado o número de linhas, retorna as cinco primeiras
corona.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [ ]:
corona.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [ ]:
# Visão geral dos dados com o uso do .tail(n)
# quando não informado o número de linhas, retorna as cinco últimas
corona.tail()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
98247,98248,08/29/2020,Zaporizhia Oblast,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0
98248,98249,08/29/2020,Zeeland,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0
98249,98250,08/29/2020,Zhejiang,Mainland China,2020-08-30 04:28:22,1277.0,1.0,1268.0
98250,98251,08/29/2020,Zhytomyr Oblast,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0
98251,98252,08/29/2020,Zuid-Holland,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0

In [ ]:
corona.tail(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
98242,98243,08/29/2020,Yukon,Canada,2020-08-30 04:28:22,15.0,0.0,15.0
98243,98244,08/29/2020,Yunnan,Mainland China,2020-08-30 04:28:22,199.0,2.0,191.0
98244,98245,08/29/2020,Zabaykalsky Krai,Russia,2020-08-30 04:28:22,4541.0,56.0,4207.0
98245,98246,08/29/2020,Zacatecas,Mexico,2020-08-30 04:28:22,5195.0,470.0,3970.0
98246,98247,08/29/2020,Zakarpattia Oblast,Ukraine,2020-08-30 04:28:22,7385.0,259.0,3220.0
98247,98248,08/29/2020,Zaporizhia Oblast,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0
98248,98249,08/29/2020,Zeeland,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0
98249,98250,08/29/2020,Zhejiang,Mainland China,2020-08-30 04:28:22,1277.0,1.0,1268.0
98250,98251,08/29/2020,Zhytomyr Oblast,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0
98251,98252,08/29/2020,Zuid-Holland,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0

In [ ]:
# Temos a opção de mostrar linhas aleatoriamente
corona.sample() # se não informar "n", retorn apenas uma linha

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
42654,42655,06/15/2020,Kansas,US,2020-06-16 04:33:09,11319.0,246.0,0.0

In [ ]:
corona.sample(8)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
36121,36122,06/06/2020,Buryatia Republic,Russia,2020-06-07 03:53:30,1733.0,11.0,1026.0
81351,81352,08/07/2020,Acre,Brazil,2020-08-08 04:34:53,21376.0,556.0,14806.0
25039,25040,05/15/2020,Cantabria,Spain,2020-05-16 02:32:19,2263.0,206.0,2152.0
44985,44986,06/18/2020,Orel Oblast,Russia,2020-06-19 04:33:17,3929.0,44.0,1945.0
26661,26662,05/19/2020,Qinghai,Mainland China,2020-05-20 02:32:19,18.0,0.0,18.0
29016,29017,05/25/2020,NaN,Diamond Princess,2020-05-26 02:32:35,712.0,13.0,651.0
21778,21779,05/05/2020,Indiana,US,2020-05-06 02:32:31,21033.0,1211.0,0.0
51602,51603,06/27/2020,Saint Petersburg,Russia,2020-06-28 04:34:04,23518.0,1065.0,16211.0

# Remoção de dados

```
  .drop([column(s)], axis=0/1, inplace=True/False)

  axis: 0 para as linhas e 1 para as colunas

  inplace: Se True, altera o DataFrame
```

In [ ]:
corona.head(1)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [ ]:
# Excluindo uma coluna
corona.drop(['Province/State'], axis=1, inplace=True)
corona.head(1)

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [ ]:
df = corona.drop(['Confirmed'], axis=1)
df.head(1)

   SNo ObservationDate  Country/Region      Last Update  Deaths  Recovered
0    1      01/22/2020  Mainland China  1/22/2020 17:00     0.0        0.0

In [ ]:
corona.head(1)

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

# Aplicação de Filtros

In [ ]:
# Retornando uma Series da variável Country/Region
corona['Country/Region']

0        Mainland China
1        Mainland China
2        Mainland China
3        Mainland China
4        Mainland China
              ...
98247           Ukraine
98248       Netherlands
98249    Mainland China
98250           Ukraine
98251       Netherlands
Name: Country/Region, Length: 98252, dtype: object

In [ ]:
# Retornando um DataFrame da variável Country/Region
corona[['Country/Region']]

       Country/Region
0      Mainland China
1      Mainland China
2      Mainland China
3      Mainland China
4      Mainland China
...               ...
98247         Ukraine
98248     Netherlands
98249  Mainland China
98250         Ukraine
98251     Netherlands

[98252 rows x 1 columns]

In [ ]:
# Retornar mais de uma coluna
corona[ ['Country/Region', 'Recovered'] ]

       Country/Region  Recovered
0      Mainland China        0.0
1      Mainland China        0.0
2      Mainland China        0.0
3      Mainland China        0.0
4      Mainland China        0.0
...               ...        ...
98247         Ukraine      883.0
98248     Netherlands        0.0
98249  Mainland China     1268.0
98250         Ukraine     1837.0
98251     Netherlands        0.0

[98252 rows x 2 columns]

In [ ]:
# Vamos ver um comando mais personalizável
corona.query('Recovered > 50000')

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
4935,4936,03/12/2020,Mainland China,2020-03-12T09:53:06,67781.0,3056.0,50318.0
5153,5154,03/13/2020,Mainland China,2020-03-13T11:09:03,67786.0,3062.0,51553.0
5383,5384,03/14/2020,Mainland China,2020-03-14T10:13:09,67790.0,3075.0,52960.0
5632,5633,03/15/2020,Mainland China,2020-03-15T18:20:18,67794.0,3085.0,54288.0
5890,5891,03/16/2020,Mainland China,2020-03-16T14:38:45,67798.0,3099.0,55142.0
...,...,...,...,...,...,...,...
98160,98161,08/29/2020,India,2020-08-30 04:28:22,415590.0,7137.0,355727.0
98164,98165,08/29/2020,India,2020-08-30 04:28:22,123090.0,818.0,90988.0
98197,98198,08/29/2020,Peru,2020-08-30 04:28:22,0.0,0.0,438017.0
98203,98204,08/29/2020,India,2020-08-30 04:28:22,219457.0,3356.0,162741.0
98230,98231,08/29/2020,India,2020-08-30 04:28:22,156766.0,3126.0,127644.0

In [ ]:
# Filtragem de variáveis qualitativas
corona[corona['Country/Region'] == 'Brazil']

,SNo,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered
82,83,01/23/2020,Brazil,1/23/20 17:00,0.0,0.0,0.0
2455,2456,02/26/2020,Brazil,2020-02-26T23:53:02,1.0,0.0,0.0
2559,2560,02/27/2020,Brazil,2020-02-26T23:53:02,1.0,0.0,0.0
2668,2669,02/28/2020,Brazil,2020-02-26T23:53:02,1.0,0.0,0.0
2776,2777,02/29/2020,Brazil,2020-02-29T21:03:05,2.0,0.0,0.0
...,...,...,...,...,...,...,...
98103,98104,08/29/2020,Brazil,2020-08-30 04:28:22,43299.0,587.0,11057.0
98120,98121,08/29/2020,Brazil,2020-08-30 04:28:22,146404.0,2218.0,131550.0
98122,98123,08/29/2020,Brazil,2020-08-30 04:28:22,801422.0,29944.0,609618.0
98128,98129,08/29/2020,Brazil,2020-08-30 04:28:22,72280.0,1839.0,62950.0
98172,98173,08/29/2020,Brazil,2020-08-30 04:28:22,49651.0,658.0,30701.0

# Como salvar filtros?

In [ ]:
# Aplicamos um filtro somente para o país Brasil.
corona_brasil = corona[corona['Country/Region'] == 'Brazil']
corona_brasil.shape

(2858, 7)

In [ ]:
# Vamos salvar o resultado em um novo "dataset" (arquivo de dados)
corona_brasil.to_csv('/content/corona_brasil.csv', index=None)